# Python Basics
## Guiding Principle of Python's Design

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 1. Variable Assignment and Basic Data Types
Variable naming rules: 
1. Variable names are case sensitive
2. Variable must start with a character or underscore
3. Variable names can only contain alphanumeric characters and underscores
4. Variable name cannot be a python keyword

- ### Integers

In [2]:
var_1 = 0
var_2 = 1
var_3 = 2
print(var_1, var_2, var_3)

0 1 2

- ### Strings

In [60]:
string_1 = 'Aditya'
string_2 = "Jain"
string_3 = "QA from 2021"
print(string_1, string_2)
print(string_3)

Aditya Jain
QA from 2021

- ### Float

In [7]:
float_1 = 2.34
float_2 = 5.000
float_3 = 3.14
print(float_1, float_3)
print(float_2)

2.34 3.14
5.0

- ### Booleans

In [8]:
true_bool = True
false_bool = False
print(true_bool, false_bool)

True False

- ### Multiline Assignment

In [15]:
var_1, string_1, float_1 = 1, "Aditya Jain", 4.33
print(var_1, string_1, float_1)

1 Aditya Jain 4.33

In [16]:
print(var_1, string_1, float_1)
var_1, string_1, float_1 = 2, "|| QA--UPSKILLING ||", 2.44
print(var_1, string_1, float_1)

1 Aditya Jain 4.33
2 || QA--UPSKILLING || 2.44

## 2. Comments

In [22]:
# Comment for Code to understand
change_var = 9
# change_var = 3
print(change_var) 

"""
triple interveted comma
MultiLine Comment
for Code Comment
"""

9

'\ntriple interveted comma\nMultiLine Comment\nfor Code Comment\n'

## 3. Python `type()` function

In [24]:
print(type(var_1))
print(type(string_1))
print(type(float_1))
print(type(true_bool))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

## 4. Type Casting

In [26]:
var_string = "45"
var_int = int(var_string)
print(var_int + 1)
var_new_string = str(var_int)
print(type(var_new_string))
print(var_new_string)

46
<class 'str'>
45

## 5. Strings

- ### Multiline Strings

In [29]:
multline_string = """this is a Multi Line
String
practicing for Up
skilling !"""
print(multline_string)

this is a Multi Line
String
practicing for Up
skilling !

- ### String Indexing

In [45]:
print(multline_string[0], multline_string[10], multline_string[13])
print(multline_string[-1], multline_string[-10])

print(multline_string[1:6])

print(multline_string[:6])

print(multline_string[0:])

print(multline_string[1:-1])

print(multline_string[:13:2])

t M t
! s
his i
this i
this is a Multi Line
String
practicing for Up
skilling !
his is a Multi Line
String
practicing for Up
skilling
ti saMl

- ### String functions `len(), lower(), strip(), replace()`

In [54]:
print(len(multline_string))
print("Lower: ", multline_string.lower())
print("Upper: ", multline_string.upper())

print("Older MultiLine: ", multline_string)
new_multi_string = multline_string.replace("!", "??")
print("Replace: ", new_multi_string)

56
Lower:  this is a multi line
string
practicing for up
skilling !
Upper:  THIS IS A MULTI LINE
STRING
PRACTICING FOR UP
SKILLING !
Older MultiLine:  this is a Multi Line
String
practicing for Up
skilling !
Replace:  this is a Multi Line
String
practicing for Up
skilling ??

- ### String Slicing

Aditya Jain
Aditya with Jain

- ### String Concatenation

In [63]:
print(string_1, string_2)
conact_string = string_1 + " with " + string_2
print(conact_string)

Aditya Jain
Aditya with Jain

## 6. Comparison , Identity, Membership Operators
`>=, ==, =<, in, not in, is, is not`

In [73]:
print(var_1, var_2, var_3)

print(var_1 == var_2)
print(var_1 >= var_2)
print(var_1 <= var_2)
print(var_1 > var_2)
print(var_1 < var_2)
print(var_1  != var_2)

print("python" == "Python")
print("python" == "Python".lower())

2 1 2
False
True
False
True
False
True
False
True

In [77]:
# in and not in
print("p" in "Python")
print("p" in "Python".lower())

print("1" in "Python")
print("e" not in "Python")

False
True
False
True

## 7. Arithmetic and Assignment Operators

In [82]:
# +, -, *, /, %

number = 450
print(
    number + 30,
    number - 30,
    number * 0,
    number / 5,
    number % 9
    )

print(30/9)
print(30//9)

#  String
ex_string = "Aditya"
print(
    ex_string * 3
)

480 420 0 90.0 0
3.3333333333333335
3
AdityaAdityaAditya

In [89]:
num_eg = 12
print(num_eg)
num_eg += 24
print(num_eg)
num_eg -= 24
print(num_eg)
num_eg *= 24
print(num_eg)
num_eg /= 24
print(num_eg)
num_eg %= 24
print(num_eg)

print(ex_string)
ex_string += "Jain"
print(ex_string)
ex_string *= 3
print(ex_string)

12
36
12
288
12.0
12.0
AdityaJainJain
AdityaJainJainJain
AdityaJainJainJainAdityaJainJainJainAdityaJainJainJain

## 8. Lists
- ### Assignment

In [92]:
mylist = [1, 2, 3, 4]
print(mylist[0])
print(mylist[1])

1
2

In [93]:
mylist[0] = -1
print(mylist)

[-1, 2, 3, 4]

In [95]:
typelist = ["abc", 20, True, 3.14, '48']
print(typelist[0:3])

['abc', 20, True]

In [96]:
num_list = list(range(20))
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

- ### List Index and Slicing

In [100]:
print(num_list[:5])
print(num_list[:])
print(num_list[1:16:2])

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9, 11, 13, 15]

In [105]:
list_1 = [0, 1, 2, 3]
print("List 1: ", list_1)
list_2 = list_1
print("List 2: ", list_2)

List 1:  [0, 1, 2, 3]
List 2:  [0, 1, 2, 3]

In [106]:
list_2[0] = 9
print("List 1: ", list_1)
print("List 2: ", list_2)

List 1:  [9, 1, 2, 3]
List 2:  [9, 1, 2, 3]

In [113]:
fruits = ['apple', 'orange', 'beer', 'India']
print(fruits)
fruits.append('All is Well')
print(fruits)
fruits.insert(2, 'mango')
print(fruits)
fruits.extend(['python', 'java'])
print(fruits)

['apple', 'orange', 'beer', 'India']
['apple', 'orange', 'beer', 'India', 'All is Well']
['apple', 'orange', 'mango', 'beer', 'India', 'All is Well']
['apple', 'orange', 'mango', 'beer', 'India', 'All is Well', 'python', 'java']

In [115]:
num_list.extend(range(20,30))
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [117]:
vegetables = ["cucmber", "Onion", "Tomato"]
vegetables.insert(1, ["bottle ground"])
print(vegetables)

['cucmber', ['bottle ground'], 'Onion', 'Tomato']

In [122]:
print(fruits)
fruits.remove('mango')
print(fruits)

['apple', 'orange', 'mango', 'beer', 'India', 'All is Well', 'python', 'java']
['apple', 'orange', 'beer', 'India', 'All is Well', 'python', 'java']

- ### List functions `insert(), append(), extend(). remove(), sort()`

- ### Copying a list with `copy()`

In [ ]:
fruits_2 = fruits.copy()
print(fruits_2)
fruits_2[1] = "Mango"
print(fruits)
print(fruits_2)

## 9. Tuples
- ### Assignment and Unpacking

In [1]:
tuple1 =(0, 1, 2)
print(tuple1)

(0, 1, 2)

In [2]:
tuple1[0]
tuple1[1] = 5

TypeError: 'tuple' object does not support item assignment

In [3]:
num_tuple = tuple(range(5))
print(num_tuple)

(0, 1, 2, 3, 4)

In [4]:
num_list_tuple = list(num_tuple)
print(num_list_tuple)

[0, 1, 2, 3, 4]

In [5]:
num_list_tuple_2 = tuple(num_list_tuple)
print(num_list_tuple_2)

(0, 1, 2, 3, 4)

In [6]:
a,b = (1,3)
print(a)
print(b)

1
3

In [8]:
num1, num2, num3 = [1, 2]
print(num1)
print(num2)
print(num3)

ValueError: not enough values to unpack (expected 3, got 2)

In [9]:
num1, num2, num3 = [1, 2, 3, 4, 5]
print(num1)
print(num2)
print(num3)

ValueError: too many values to unpack (expected 3)

In [10]:
num1, num2, num3 = [1, 2, 3]
print(num1)
print(num2)
print(num3)

1
2
3

## 10. Control Flow
- ### IF

- ### ELSE

- ### ELIF

- ### Shorthand If Else

## 11. Loops
- ### FOR loop

- ### WHILE loop

# Upcoming class
- ## List Comprehension
- ## Functions
- ## Lambda Functions
- ## OOPs concepts